In [1]:
# Import data/maxMeetings.csv

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

max_meetings = pd.read_csv('data/maxMeetings.csv')
max_meetings

/home/k44jiang/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

    Day  Time  Max Meetings
0     M    24           4.0
1     M    25           4.0
2     M    26           4.0
3     M    27           1.0
4     M    28           1.0
..   ..   ...           ...
165   F    53           4.0
166   F    54           4.0
167   F    55           4.0
168   F    56           4.0
169   F    57           4.0

[170 rows x 3 columns]

In [4]:
monday_meetings = max_meetings.where([max_meetings['Day'] == 'M'])
monday_meetings

     Day  Time  Max Meetings
0      M  24.0           4.0
1      M  25.0           4.0
2      M  26.0           4.0
3      M  27.0           1.0
4      M  28.0           1.0
..   ...   ...           ...
165  NaN   NaN           NaN
166  NaN   NaN           NaN
167  NaN   NaN           NaN
168  NaN   NaN           NaN
169  NaN   NaN           NaN

[170 rows x 3 columns]